<div ng-include="'components/navbar/navbar.html'"></div>

<div id="map-canvas"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>
            Welcome to HackShare
        </h1>
        <p class="lead">
            The open marketplace for local hackers and makers.
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Recent Activity:</h2>
                <ul class="recent-items">
                    <li ng-repeat="hack in hacks" style="width: 33%; display: inline-block;">
                        <md-card style="background-color: #00BCD4;">
                            <img ng-src="api/files/{{hack.imageId}}.jpg" alt="{{hack.name}}">
                            <md-card-content>
                                <h2>{{hack.name}}</h2>
                                <p>{{hack.tagline}} | ${{hack.price}}</p>
                            </md-card-content>
                        </md-card>
                    </li>
                </ul>
            </div>
        </div>

        <form class="thing-form">
            <!--<label>Synced in realtime with Socket.IO:</label>-->

            <!--<p class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
                <!--<span class="input-group-btn">-->
                    <!--<button type="submit" class="btn btn-primary" ng-click="addHack()">Add New</button>-->
                <!--</span>-->
            <!--</p>-->
            <md-button class="md-fab pull-right md-accent" aria-label="Add">
                <i class="fa fa-plus" style="font-size: 24px;"></i>
            </md-button>
        </form>
    </div>
</header>

<div class="callout-section">
    <div class="callout-section-wrapper">
        <h2>
            <span>A community <strong>by makers, for makers.</strong></span>
        </h2>
        <div class="callouts-container">
            <div class="callout" id="callout-one">
                <div id="circleA" class="circle-icon">
                    <div class="inner">
                        <i class="fa fa-coffee fa-4x" style="padding: 40px 10px;"></i>
                    </div>
                </div>
                <h3>Crafted with care</h3>
                <p>Created by dedicated developers <br>who care about makers.</p>
                <!--<a href="/features/">View feature tour</a>-->
            </div>
            <div class="callout" id="callout-two">
                <div id="circleB" class="circle-icon">
                    <div class="inner">
                        <img src="assets/images/postmates_glyph_black2x.png" style="width: 163px; padding: 20px 10px;" alt=""/>
                    </div>
                </div>
                <h3>Delivery by Postmates</h3>
                <p>The parts you need delivered <br>straight to your door.</p>
                <a href="http://postmates.com/">Learn About Postmates</a>
            </div>
            <div class="callout" id="callout-three">
                <div id="circleC" class="circle-icon">
                    <div class="inner">
                        <i class="fa fa-exchange fa-4x" style="padding: 40px 10px;"></i>
                    </div>
                </div>
                <h3>Easy to Use</h3>
                <p>Made to get you innovative <br>creations as easy as possible.</p>
                <!--<a href="https://developers.digitalocean.com/">View API Docs</a>-->
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>
            HackShare |
            <a href="https://github.com/Awk34/hackshare">GitHub</a>
        </p>
    </div>
</footer>
