.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $primaryColor;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

ul.recent-items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    li {
        a {
            color: $textPrimaryColor;
        }
    }
}

.callout-section {
    padding: 95px 0 120px 0;
    float: left;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: white;
}
.callout-section-wrapper {
    width: 1100px;
    margin: 0 auto;
}
.callouts-container {
    letter-spacing: -.05em;
    text-rendering: optimizespeed;
//    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}
.callout {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    margin: 0 20px;
    h3 {
        color: #454545;
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 12px;
    }
    p {
        color: #717171;
        line-height: 1.4;
    }
    a {
        color: #454545;
        margin-top: 20px;
        border-bottom: 1px dotted #cccccc;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}
.circle-icon {
    width: 163px;
    height: 163px;
    margin: 40px auto;
    border-radius: 82px;
    position: relative;
    background-color: gray;
}
#circleA {
    background: #FF9800;
}
#circleB {
    background: #8BC34A;
}
#circleC {
    background: #03A9F4;
}
