<div ng-include="'components/navbar/navbar.html'"></div>

<div id="map-canvas"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>
            Welcome to HackShare
        </h1>
        <p class="lead">
            The open marketplace for local hackers and makers.
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Recent Activity:</h2>
                <ul class="recent-items">
                    <li ng-repeat="hack in hacks" style="width: 33%; display: inline-block;">
                        <md-card style="background-color: #00BCD4;">
                            <img ng-src="api/files/{{hack.imageId}}.jpg" alt="{{hack.name}}">
                            <md-card-content>
                                <h2>{{hack.name}}</h2>
                                <p>{{hack.tagline}} | ${{hack.price}}</p>
                            </md-card-content>
                        </md-card>
                    </li>
                </ul>
            </div>
        </div>

        <form class="thing-form">
            <!--<label>Synced in realtime with Socket.IO:</label>-->

            <!--<p class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
                <!--<span class="input-group-btn">-->
                    <!--<button type="submit" class="btn btn-primary" ng-click="addHack()">Add New</button>-->
                <!--</span>-->
            <!--</p>-->
            <md-button class="md-fab pull-right md-accent" aria-label="Add">
                <i class="fa fa-plus" style="font-size: 24px;"></i>
            </md-button>
        </form>
    </div>
</header>

<div class="container">
    <br/>
    <p class="lead">
        Bacon ipsum dolor amet ground round proident t-bone id. Velit bresaola kevin elit tri-tip pork loin leberkas. Consequat pork chop short ribs cillum ground round cow irure. Filet mignon brisket do veniam, fatback dolore ham turkey cillum dolor biltong t-bone. Sint non bresaola salami prosciutto. Ground round biltong jowl, kevin elit pork mollit eu.
    </p>
    <br/><br/><div class="divider"></div>
    <p class="lead">
        Eiusmod ut in bresaola ham hock. Brisket shoulder ea, frankfurter sed est labore shankle pastrami landjaeger beef in. Id consequat ullamco elit ut porchetta. In est hamburger fatback frankfurter. Pastrami et tri-tip landjaeger chicken ullamco do nostrud venison salami shankle magna tempor. Jowl ham voluptate mollit pork belly brisket magna dolore deserunt bacon.
    </p>
</div>

<footer class="footer">
    <div class="container">
        <p>
            HackShare |
            <a href="https://github.com/Awk34/hackshare">GitHub</a>
        </p>
    </div>
</footer>
